{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
<p>
    {{ form.town.label }} <br>
    {{ form.town(size=32) }} <br>
    {% for error in form.town.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
</p>
<p>{{ form.submit() }}</p>
</form>
{% if response %}
{% for string in response %}
<p>{{ string }}</p>
{% endfor %}
{% endif %}

{% endblock %}